
body{
    background-image: url('/static/51b599e635aee70236.jpg');
}

.title {
    
    font-family:  monospace;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 10px;
    text-transform: uppercase;
    text-align: center;
    
}

.sec_title {
    
    font-family:  monospace;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 10px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.col-md-4 button{
    margin: 5px;
}

.col-md-4 div{
    display: inline-block;
}

.series_table{
    min-width: 500px;
}

.series_table table{
    min-width: inherit;
    margin: auto;
    color: white;
}

.nav{
    margin-bottom: 5px;
    
}
#pages_links a {
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li{
    display: inline;
}

.main-title{
    color: white;
}

.pages_movies{
    color: white;
    text-align: left;
    padding-right: 20px;
    max-width: 200px;
    
    margin-top: -30px;
    
}

.add_movie_dialogue{
    
    margin-left: 30%;
    position: relative;
     
}

.pages_movies a{
    color: white;
    display: block;
}


h1 {
    text-align: center;
}

img{
    
    max-height: 700px;
    max-width: 500px;
}

.found_torrent{
    background-color: #a7ff9e;  
}
.not_found_torrent{
    background-color: white;
}

.actors_description{
    
    font-size: 0.9em;
}

.additional_nav form{
    
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 50px;
}



.movie_listing{
    
    max-width: 300px;
    min-height: 400px;
    text-align: center;
    border: 2px dotted black;
    float: left;
    margin-bottom: 30px;
}

.movie_poster {
    height: auto;
    max-width: 220px;
    max-height: 320px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.movie_details .table{
    max-width: 200px;
    margin: auto;
    font-size: 12px;
}

.movie_details_extended{
    
    background-color: white;
    margin: auto;
    font-size: 12px;
}

