.nav{
    text-align: center;
    margin-bottom: 10px;
    
}    
.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}




h1 {
    text-align: center;
    border-bottom: solid;
}

img{
    
    max-height: 500px;
    max-width: 400px;
}

.movie_listing{
    padding: 10px;
    max-width: 300px;
    text-align: center;
    border: 2px dotted black;
    float: left
}

.movie_title{
    margin: auto;
    
}

.movie_poster {
    height: auto;
    max-width: 175px;
    max-height: 300px;
    margin: auto;
}

.movie_details .table{
    max-width: 200px;
    margin: auto;
    font-size: 12px;
}

.movie_details_extended
    
    margin: auto;
    font-size: 12px;
}

