{% extends "base.html" %}


{% block form %}
  <div class="sec_title">
        Add Movie
  </div>
  <div class= "add_movie_dialogue">
    <form method="post">
        <table>
          <tr>
            <td>
              <input class="form-control" type="text" size="55" name="IMDB_link" placeholder="Enter IMDB url">
            </td>
            <td class="error">
              {{error_IMDB_link}}
            </td>
          </tr>
          <tr>
            <td>
            <button type="submit" class="btn btn-default">Add</button>
            </td>
          </tr>
         </table>
        
      </form>
  </div>

{% endblock %}
  