{% extends "base.html" %}


{% block form %}
   <div class="sec_title">
        Add Movies from JSON
  </div>
  <div class= "add_movie_dialogue">
    <form method="post" action="/AddMovie_json">
        <table>
          <tr>
            <td>
              <textarea  autofocus="1" rows="30" cols="110" name="IMDB_link" placeholder="Enter JSON"></textarea>
            </td>
            <td class="error">
              {{error_IMDB_link}}
            </td>
          </tr>
          <tr>
            <td>
            <button type="submit" class="btn btn-default">Add</button>
            </td>
          </tr>
         </table>
        
      </form>
  </div>

{% endblock %}
  