<!DOCTYPE html>
<html lang="en">
<head>
  <link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{page_heading}}</title>
</head>

<body>
  <div class="nav">
    {% if (system_tools_object) %}
    <span style="color: white;">Last global torrent check: {{system_tools_object.Last_modified.strftime("%d %b %Y")}} </span>
    {% endif %}
    
    <div class="title">
      <a href="/Homepage" class="main-title">
        Marius IMDB
      </a>
    </div>
    <div class="container" id="pages_links">
        
        <ul class = "pull-left">
          <li><a href="/AddMovie">Add Movie</a></li>
          <li><a href="/Series">Series</a></li>
        </ul>
        
        <ul class = "pull-right">
          <li><a href="/Homepage.json">Export JSON</a></li>
          <li><a href="/AddMovie_json">Add DB from JSON backup</a></li>
        </ul>
       
      </div>
    
    
    
    
  </div>
  
  <div class="form">
  {% block form %}
  {% endblock %}
  </div>
  <div class="content">
  {% block content %}
  {% endblock %}
  </div>
  <script>
    function Estimate_and_request(listing_length){
      var estimated_sec = parseInt(listing_length) * 4;
      $('.estimation').text(" -- Estimated update time = " + estimated_sec + "seconds");
      $.ajax({
        type: "POST",
        url: "/Homepage",
        dataType: 'json',
        data: JSON.stringify({ "message": "please update"})
      })
      
      .done(function( data ) { 
        get("/Homepage");
      });
      
    };
  </script>
</body>

</html>

