<!DOCTYPE html>
<html lang="en">
<head>
  <link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Marius IMDB</title>
</head>

<body>
  <div class="nav">
    {% if (system_tools_object) %}
    <span style="color: white;">Last global torrent check: {{system_tools_object.Last_modified.strftime("%d %b %Y")}} </span>
    {% endif %}
    <div class="title">
      <a href="/Homepage" class="main-title">
        Marius IMDB
      </a>
    </div>
    <div class="add_movie">
      <a href="/AddMovie">Add Movie</a>
    </div>
  </div>
  
  <div class="form">
  {% block form %}
  {% endblock %}
  </div>
  <div class="content">
  {% block content %}
  {% endblock %}
  </div>
  
</body>

</html>

