<!DOCTYPE html>

<html>
  <head>
    <title>Unit 4 Login</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />


  </head>

  <body>
    <h2>Login</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
          <td class="error">
            {{error_username}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
            {{error_password}}
          </td>
        </tr>

      <input type="text" name="next_url" value="{{next_url}}">
      <input type="submit">
    </form>
  </body>

</html>
