
<div class="movie_listing">
    {% if listing.FoundTorrent %}
    <div class="found_torrent">
    {% else %}
    <div>
    {% endif %}
    
    <div class="movie_title">
      <a href="/Details/{{listing.Title}}">{{listing.Title}}</a>
    </div>
    <div class="movie_poster">
      <img src="{{listing.Poster_link}}" alt="not found" href="{{listing.IMDB_link}}" class="img-responsive">
    </div>
    
    
    
    <div class="movie_details">
      <table class="table">
        <tr>
        <td>Followed:</td> <td>{{listing.Followed}}</td>
        </tr>
        <tr>
        <td>TorrentLink 1:</td> <td><a href="{{listing.TorrentLink1}}">{{listing.FoundTorrent}}</a></td>
        </tr>
        <tr>
        <td>Release Date:</td> <td>{{listing.ReleaseDate.strftime("%d %b %Y")}}</td>
        </tr>
        <tr>
        <td><a href="/RemoveMovie/{{listing.key().id()}}">Stop Following</a></td><td></td>
        </tr>
        
      </table>
    </div>
  </div>
</div>
  