
<div class="movie_listing">
    {% if listing.FoundTorrent ==1 %}
    <div class="found_torrent">
    {% else %}
    <div class="not_found_torrent">
    {% endif %}
    
    <div class="movie_title">
      <a href="/Details/{{listing.Title}}">{{listing.Title}}</a>
    </div>
    <div class="movie_poster">
      <a href="{{listing.TorrentLink1}}"><img src="{{listing.Poster_link}}" alt="not found" class="img-responsive"></a>
    </div>
    
    
    
    <div class="movie_details">
      <table class="table">
        <tr>
        <td>Release:</td> <td>{{listing.ReleaseDate.strftime("%d %b %Y")}}</td>
        </tr>
        <tr>
        <td>Actors:</td> <td class= "actors_description">{{listing.Actors}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
  