<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Movie listing</title>
</head>
  <body>
    <div class="listing">
      <div class="listing-heading">
        <div class="listing-title">
          {{listing.Title}}
        </div>
    
        <div  class="listing-date">
          
          {{listing.created.strftime("%c")}}
        </div>
      </div>
      
      <div class="listing-content">
        {{listing.IMDB_link }} 
      </div>
    </div>
  </body>
</html>